div{
    margin-left: auto;
    margin-right: auto;
    border-top: solid 1px rgb(180, 240, 112);
    background-color:rgb(247, 248, 244);
    padding : 10px;
    font-size: 18px;
}

button{
    margin: 5px;
}
